@import "../../scss/variables";

.last {
  height: 6rem;
  font-size: 1.2rem;
  text-align: center;
  background-color: rgb(241, 210, 71) ;
  font-family: "Nothing You Could Do", cursive;
padding-top: 2rem;
color: red
}
